.container {
    padding-right: 20px;
    padding-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.description {
    width: 60%;
}

.photo {
    width: 38%;
}

[nz-carousel-content] {
    text-align: center;
    color: #fff;
}

.carousel {
    height: 500px;
}

.cover {
    position: absolute;
    z-index: 99;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}