.layout {
  min-height: 100vh;
}

nz-content {
  padding: 0 50px;
  margin-top: 64px;
}

.inner-content {
  background: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
}

nz-footer {
  text-align: center;
}

nz-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 50px;

  ul {
    font-size: 16px;
  }
}

#header-menu {
  display: flex;
  justify-content: center;
  width: 80%;
}

#header-authentication {
  display: flex;
  justify-content: right;
  padding-right: 30px;
  width: 20%;
}