.container {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 10px;

    input {
        margin-bottom: 10px;
        width: 50%;
        height: 40px;
    }
}
.button {
    margin-right: 10px;
}