<app-page-title title="О нас"></app-page-title>

<div class="container">
    <nz-collapse>
        <nz-collapse-panel [nzHeader]="rules" [nzActive]="true">
            <ul>
                <li>Возраст арендатора мотоцикла должен быть старше 18 лет.</li>
                <li>При себе необходимо иметь оригиналы документов (паспорт и водительское удостоверение категории А).</li>
                <li>Требуется знание и соблюдение (ПДД) правил дорожного движения.</li>
                <li>Необходимо подписать договор на оказание услуги проката мотоцикла.</li>
                <li>Вместе с клиентом производится осмотр мотоцикла, составляется акт приема-передачи.</li>
                <li>В стоимость проката мотоцикла включена базовая экипировка: шлем, перчатки. Экипировка выдается по желанию.</li>
                <li>На 1 сутки пробег ограничен договором и составляет 300 км. За каждые дополнительные 10 км необходимо доплатить 4 рубля. Если одометр мотоцикла в милях, то 6.5 рублей за каждые 10 миль.</li>
                <li>Мотоцикл выдаётся с полным баком, вернуть необходимо так же с полным баком. В баке примерно 16-18 литров топлива. Это правило служит для удобства и ускорения работы Мотопроката.</li>
                <li>Мотоцикл необходимо вернуть за 15 минут до окончания 24 часов (срока аренды) – это необходимо для осмотра мотоцикла и подготовки к дальнейшей эксплуатации.</li>
                <li>Для иностранных граждан предусмотрен залог на период аренды в размере 300 у.е. в BYN  по курсу НБРБ (Для граждан Беларуси залог не предусмотрен).</li>
            </ul>    
        </nz-collapse-panel>

        <nz-collapse-panel [nzHeader]="prohibited" [nzActive]="true">
            <ul>
                <li>Запрещена аренда и управление мотоциклом в алкогольном или наркотическом опьянении.</li>
                <li>Запрещено использование мотоцикла для участия в гонках и соревнованиях (драг рейсинг, мотоджимхана, трековые гонки и т.д.).</li>
                <li>Запрещается несоблюдение (нарушение) ПДД.</li>
                <li>Запрещено использование мотоцикла не по назначению, в том числе для буксировки.</li>
                <li>Запрещено использование мотоцикла в условиях, в которых мотоцикл подвергнется чрезмерному загрязнению или ему будет нанесен ущерб, в том числе на грунтовых дорогах, бездорожье.</li>
                <li>Запрещено использование мотоцикла в коммерческих целях.</li>
                <li>Запрещена разукомплектация мотоцикла, нарушение целостности внешнего оформления мотоцикла.</li>
                <li>Запрещена езда на одном колесе, езда в красной зоне тахометра.</li>
                <li>Запрещено причинение ущерба имуществу Арендодателя.</li>
                <li>Запрещена передача управления мотоцикла третьим лицам.</li>
                <li>Запрещено перевозить более одного пассажира.</li>
                <li>Запрещено производить какие-либо улучшения/ухудшения в мотоцикле, изменять какие-либо технические характеристики, монтировать (демонтировать) какое-либо оборудование, устройства в мотоцикле, осуществлять ремонт (независимо от степени сложности), а также допускать аналогичных действий со стороны третьих лиц.</li>
            </ul>
        </nz-collapse-panel>

        <nz-collapse-panel [nzHeader]="electionsRules" [nzActive]="true">

        </nz-collapse-panel>
    </nz-collapse>

    <ng-template #electionsRules>
        <h3>Правила выборов</h3>
    </ng-template>

    <ng-template #prohibited>
        <h3>Запрещается</h3>
    </ng-template>

    <ng-template #rules>
        <h3>Правила аренды</h3>
    </ng-template>
</div>
